__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.dist/
.build/
.venv/
venv/
.env
.env.*
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.idea/
.vscode/
.DS_Store
.decodifier/
.builds/
curl.output.txt
patterns.build.txt
patterns.schemas.txt
